---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.article {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 1em;
				border: 1px solid #ddd;
				border-radius: 8px;
				margin-bottom: 1em;
				background-color: #f9f9f9;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
				transition: transform 0.2s ease-in-out;

				&:hover {
					transform: scale(1.05);
				}

				h2 {
					margin: 0.5em 0;
					font-size: 1.5em;
					color: #333;
				}

				p {
					margin: 0.5em 0;
					color: #666;
				}

				a {
					margin-top: 1em;
					color: #007BFF;
					text-decoration: none;
					font-weight: bold;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Taoshowa's Blog!</h1>
			<div>
				{posts.slice(0, 3).map((post) => (
					<article class="article">
						<h2>{post.data.title}</h2>
						<p>{post.data.description}</p>
						<a href={`/blog/${post.slug}/`}>Read more</a>
					</article>
				))}
			</div>
		</main>
		<Footer />
	</body>
</html>
